body {
  background-color: #1a5ef2;
  margin-top: 30px;
  }
#head {
  text-align: center;
}
#navbar {
  overflow: hidden;
    background-color: #333;
    position: fixed; /* Navbar fixed position */
    top: 0; /* Navbar position */
    width: 100%; /* Full-page width */
}

#navbar a {
   float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover {
    background: #ddd;
    color: black;
}
